body{
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #222;
	font-family: sans-serif;
}
.container{
	width: 1200px;
	height: auto;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.container .box{
	position: relative;
	background: #fff;
	padding: 20px 40px 40px;
	text-align: center;
	overflow: hidden;
	border-radius: 20px;
}
.container .box:nth-child(1){
	background: linear-gradient(45deg,#AA9839,#FFF6C5);
}
.container .box:nth-child(2){
	background: linear-gradient(45deg,#DEE47E,#FAFDC3);
}
.container .box:nth-child(3){
	background: linear-gradient(45deg,#AA9839,#FAFDC3);
}

.container .box h3{
	margin: 0;
	padding: 0;
	color: #423075;
	font-size: 24px;
	text-transform: uppercase;
}
.container .box p{
	margin: 0;
	padding: 0;
	color: #70609f;
	font-size: 18px;
}

